.hero-section-bienvenida{
    color: #f04ef1;
}

.color-texto{
    color:#00c6b5;
}

.btn-comprar-torta{
    background-color: #f04ef1;
    color: #eee933;
}

.bg-banner{
    background-color:#00c6b5ce ;
}

.border-banner {
    border-color: #efe933!important;
} 

.transformed {
    transform: rotateY(180deg);
   /* background-color: blue; */
}